.principal{
    display: block;
    width: 100%;
    
}


.formulario{
    width: 100%;
    display: flex;
    background-color: #32D1AE;
    height: 34rem;
    z-index: -1;
}

.col1{
    margin-top: -1rem;
    margin-left: 9%;
    width: 26%;
}
.col2{
    display: grid;
    margin-top: 11%;
    width: 25%;
    margin-left: 7%;
}

.white-bold{
    font-size: 16pt;
    color: #FFFF;
    font-weight: bold;
    font-family: aileron, sans-serif;
    margin-top: 69%;
}

.assunto, .nome, .email, .number{
    width: 28%;
    height: 2.5rem;
    border-radius: 2rem;
    margin-bottom: -1%;
    font-family: aileron, sans-serif;
    font-size: 12pt;
    color: #707070;
   
    border: 0;
    box-shadow: 7px 7px 13px 0 rgba(50, 50, 50, 0.22);
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 6%;
   
    margin: 2% 0 0 0%;
    width: 90%;
    height: 1%;
    height: 2.5rem;
}
.assunto{
    cursor: pointer;
    width: 96%
}

.mensagem{
    border-radius: 22px;
    height: 86px;
    width: 282px;
    background-color: white;
    font-size: 12pt;
}
.send-bottom{
    background-color: #F68881;
    width: 81%;
    height: 2.5rem;
    border-radius: 2rem;
    margin-bottom: -1%;
    font-family: aileron, sans-serif;
    font-size: 13pt;
    color: #FFFFFF;
    border: 0;
    box-shadow: 7px 7px 13px 0 rgb(50 50 50 / 22%);
    margin: 2% 0 -12% 0%;
    height: 1%;
    height: 1.8rem;
    text-align: center;
    padding-top: 2%;
    margin-left: 5%;
    cursor: pointer;

}
.envio{
    width: 12%;
    margin-left: 10%;
    margin-top: 2%;
}
#col3{
    width: 30%;
    
}
#linha-vertical {
    display: flex;
    height: 368px !important;
    border-right: 1px solid #ffff;
    margin-top: -19% !important;
    margin-right: 95% !important;
}
.whtasap-logo{
    margin-top: 25%;
    margin-left: 38%;
    margin-bottom: 10%;
}
.contato-zap{
    margin-top: -61%;
    margin-left: 20%;
    text-align: center;
    width: 53%;
    font-size: 10pt;
}
span{
    color: #FFFF;
}
.canais-klini{
    display: block;
    width: 100%;
    height: 80%;
    margin-bottom: 7%;
    
}
.altorizacao{
    color: #F68881;
    margin-top: 4%;
    text-align: center;
    align-items: center;
    width: 21%;
    font-size: 10pt;
    margin-left: 34%
   
}
.tex-canais{
    text-align: center;
    margin-top: 10%;
    font-family: Aileron;
    font-weight: bold;
    margin-left: -7%;
}
h1{
    font-family: Aileron; 
    font-weight: bold;
    
}
h2, h3, h4{
    font-family: Aileron;
    font-weight: lighter;
}
.atendimento-klini{
    width: 33%;
    display: flex;
    margin-left: 66%;
    margin-top: 5%;
    gap: 44%
}

.suporte-logo{
    width: 25%;
    
}


.sac-logo{
    width: 28%;
    text-align: center;

}
.vendas-logo{
    width: 23%;
    text-align: center;
}.suporte{
    margin-left: -156%;
    width: 70%;
    text-align: center;
}
.sac{
    margin-left: -28%;
    text-align: center;
}
.vendas{
    width: 97%;
    margin-left: -37%;
    text-align: center;

    
    
}
.text-atendimento{
    font-size: 13pt;
    font-family: Aileron;
    font-weight: bold;
}
.contatos-tel{
    height: 3%;
    font-size: 13pt;
    margin-top: -2%;
    color: #32D1AE;
    font-weight: bold;
    
}
.chamar-zap{
    font-size: 19pt;
}
.grey-text{
    font-size: 9pt;
}
.text-duvida{
    font-family: Aileron;
    font-weight: lighter;
}
.telefone-envio{
    text-decoration: underline;
}
.numero-text{
    margin-left: 5%;
}
.telefone-envio{
    display: inline-flex;
}
.num-text{
    display: inline;
}
.seta-opition{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 19.8%;
    width: 1.9%;
}

body, html {
    overflow-x: hidden !important;
    }

    

@media (max-width: 600px){
    
    body, html {
        overflow-x: hidden!important;
    }
    
    .icones-social{
        display: none;
    }
    .menu-opition{
        display: none;
    }
    .componentes {
        width: 100%;
        margin-bottom: -5%;
    }
    .logo-klini {
        width: 13%;
        height: 41%;
        margin-top: 4%;
    
    }
    .formulario {
        width: 100%;
        display: block;
        margin-top: -22%;
    }
    .white-bold {
        font-size: 23pt;
        color: #FFFF;
        font-weight: bold;
        font-family: aileron, sans-serif;
        margin-top: 69%;
        padding: 40%;
        width: 300%;
        margin-left: -40%;
    }
    .grey-text {
        font-size: 11pt;
        width: 274%;
        margin-left: 2%;
        margin-top: -26%;
    }
    .col2 {
        display: grid;
    margin-top: -3%;
    width: 25%;
    margin-left: 12%;
    justify-items: center;
    }
    .mensagem {
        border-radius: 10px;
        height: 86px;
        width: 282px;
        background-color: white;
        font-size: 12pt;
        margin-top: 16%;
        padding: 5%;
        margin-bottom: -9%;
    }
    .number{
        margin-top: 10%;
        margin-bottom: -8%;
        width: 104%;
        border-radius: 7px;
    }
    .email{
        margin-top: 7%;
    margin-bottom: -2%;
    width: 104%;
    border-radius: 7px;
    }
    .nome{
        margin-top: 10%;
        margin-bottom: -1%;
        width: 104%;
        border-radius: 7px;
    }
    .assunto{
        margin-top: 10%;
        margin-bottom: -3%;
        width: 112%;
        border-radius: 7px;
    }
    .seta-opition {
        position: absolute;
        margin-top: 10.7%;
        margin-left: 56.8%;
        width: 6.9%;
    }
    .send-bottom{
        margin-top: 21%;
        margin-bottom: -3%;
        width: 109%;
        border-radius: 7px;
        margin-left: -2%;
    }
    .altorizacao{
        width: 72%;
        margin-top: 47%;
        margin-left: 11%;
    }
    .tex-canais {
        display: none;
    }
    .chamar-zap {
        font-size: 19pt;
        width: 129%;
    }
    .sac-logo, .suporte-logo,.vendas-logo {
        display: none;
    }
    .contato-zap{
        margin-top: -100%;
        margin-left: 13%;
        width: 57%;
    }
    .text-atendimento{
        margin-top: 100%;
    }
    .atendimento-klini{
        display: block;
    }
    .canais-klini {
        margin-top: 104%;
    }
    .save-text{
        margin-left: 25%;
        font-size: 12pt;
        margin-top: 14%;
    }
    .num-text {
        display: inline;
        margin-right: -27%;
    }
    .numero-text {
        width: 128%;
    }
    .telefone-envio{
        font-weight: bold;
    }
    .envio-tel{    
        display: flex;
        width: 80%;
        margin-left: 13%;
        margin-top: -11%;
    }
    span{
        color: #32D1AE;
    }
    .suporte {
    margin-left: -147%;
    width: 217%;
    text-align: center;
    font-size: 12pt;
}




}
